# Шаблон. Скопируй в .env и заполни.
BOT_TOKEN=
ADMIN_TG_ID=
ADMIN_TG_CHAT_ID=
POSTGRES_USER=poputchiki
POSTGRES_PASSWORD=
POSTGRES_DB=poputchiki
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
JWT_SECRET=
JWT_ISSUER=poputchiki
JWT_TTL_SECONDS=3600
DOMAIN=poputchiki.searchingforgamesforever.online
